.admin-gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ag-title-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ag-title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 1rem 0;
}

.upload-block {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border: 1px solid #0d71bd;
}

.upload-block input[type="file"] {
    max-width: 60%;
    color: #fff;
    background-color: #0d71bd;
    padding: 0.5rem 1rem;
    border: none;
}

.upload-block button.img-upload-btn {
    padding: 0.5rem 1rem;
    margin: .8rem;
    background-color: #0d71bd;
    color: #fff;
    transition: all 0.3s;
    border: none;
    border-radius: 4px;
}

.upload-block button.img-upload-btn:hover {
    background-color: #0d609f;
}

/* Table */
.responsive-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.responsive-table th, .responsive-table td {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.responsive-table th {
    background-color: #f4f4f4;
}

.responsive-table tbody tr {
    background-color: #81818186;
}

.responsive-table img {
    max-width: 100px;
    height: auto;
}

.responsive-table .gallery-delete-btn {
    background-color: #f44336;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

@media (max-width: 600px) {
    .responsive-table thead {
        display: none;
    }

    .responsive-table, .responsive-table tbody, .responsive-table tr, .responsive-table td {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .responsive-table tr {
        margin-bottom: 15px;
    }

    .responsive-table td {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 50%;
        position: relative;
    }

    .responsive-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}