
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 1rem;
}

.error-message {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.gallery-title {
    text-align: center;
    margin: 1rem 0;
}

.gallery-title h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin: 1.5rem 0;
}

@media (max-width: 600px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }

    .gallery-title h1 {
        font-size: 2.5rem;
    }
    
}

@media (max-width: 400px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }

    .gallery-title h1 {
        font-size: 2rem;
    }
}

/* Lightbox styles */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.lightbox-img {
    max-width: fit-content;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}


.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    padding: 5px 0px;
    border-radius: 10px;
    transition: transform 0.2s;
}

img:hover {
    filter: opacity(.9);
    transform: scale(1.01);
} 