/* src/styles/team.css */
.team-page {
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.team-section {
    margin-bottom: 3rem;
}
  
.team-section__title {
    font-size: 2rem;
    color: #fff;
    /* text-align: center; */
    margin-bottom: 1.5rem;
}
  
.team-section__grid {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

/* Switch to grid layout for larger screens */
@media screen and (max-width: 768px) {
    .team-section__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
        justify-items: center;
        align-items: center;
    }

    .team-section__title {
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

/* @media screen and (max-width: 1024px) {
    .team-section__grid {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
} */

.error-message {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.team-title {
    text-align: center;
    margin: 1rem 0;
}

.team-title h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin: 1.5rem 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .team-title h1 {
        font-size: 2.5rem; /* Adjusted for tablet */
    }
}

@media (max-width: 480px) {
    .team-title h1 {
        font-size: 2rem; /* Adjusted for mobile */
    }
}

@media screen and (max-width: 480px) {
    .team-section__title {
        text-align: center;
        margin-bottom: 1rem;
    }
}