/* General Styles */
.blog-page {
    padding: 20px;
    /* max-width: 1200px; */
    margin: 0 auto;
  }
  
  .page-title {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin: 1.5rem 0;
    text-align: center;
  }
  
  /* Blog Grid */
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 10px 20px;
  }
  
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-btn {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .page-btn.active {
    background-color: #0056b3;
  }
  
  .page-btn:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .blog-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    /* .blog-card {
      height: 200px;
    }
  
    .card-image {
      height: 250px;
    }
   */
    .page-title {
      font-size: 2.5rem;
    }
  
    .card-title {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .card-image {
      height: 120px;
    }
  
    .page-title {
      font-size: 2rem;
    }
  
    .card-title {
      font-size: 14px;
    }

    .blog-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;


    }
  }
  