.certificate-container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate {
  width: 70%;
  height: auto;
  aspect-ratio: 3/2;
  background-color: #fff;
  border-radius: .5rem;
  position: relative;
  /* padding: 3rem; */
  border: 10px solid #fff;
}

.certificate-inner {
  width: 100%;
  height: 100%;
  border: 5px solid var(--bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 2rem;
  border-radius: .3rem;
}

.vertical-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 60%;
  width: 25%;
  height: 100%;
  background-color: var(--bg-color);
}

.certificate-logo {
  width: 50%;
  height: auto;
}

.certificate-member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.certificate-member-id {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificate-member-id:nth-child(1) {
  font-weight: 600;
}

.certificate-member-id:nth-child(2) {
  font-weight: 400;
}       

.certificate-qr {
  width: 100px;
  border-radius: 10px;
  aspect-ratio: 1/1;    
  height: auto;
  background-color: #fff;
}

.certificate-title h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--bg-color);
  text-align: left;
}

.display-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 60%;
  margin: 1rem 0;
}

.certificate-content {
  width: auto;
  /* margin: 1rem 0; */
}

.certificate-content p {
  text-align: left;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5;
  word-spacing: 0.2rem;
}


