.admin-page {
    padding: 2rem;
    max-width: 80%; 
    margin: 0 auto;
}

.admin-page__title {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.admin-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input,
    .form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
    max-height: 100%;
}

.btn-primary {
  background: #0077b5;
  color: white;
}

.btn-secondary {
    background: #666;
    color: white;
}

.btn-edit {
    background: #4CAF50;
    color: white;
}

.btn-delete {
    background: #f44336;
    color: white;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.form-actions {
  max-height: 30px;
}

.admin-table th,
.admin-table td {
    padding: .8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
}
  
.member-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .admin-page {
        padding: .5rem;
        width: 100%;
    }

    .admin-form {
        padding: .8rem .5rem;
        width: 100%;
    }

    .admin-table th,
    .admin-table td {
        padding: 0.5rem;
        margin: 0;
    }
    .admin-table th:nth-child(3),
    .admin-table td:nth-child(3) {
        display: none;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin-top: 1rem; */
}

.pagination span {
  font-weight: bold;
}

.pagination .btn {
  padding: 0.5rem 1rem;
}

.pagination .btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-loader {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn.load {
  cursor: not-allowed;
  max-height: 30px;
}
